body { // default: light
    --color-body-10: #ffffff;
    --color-body-20: color-mix(in srgb, var(--color-body-10) 100%, black 5%);
    --color-body-30: color-mix(in srgb, var(--color-body-10) 100%, black 10%);
    --color-body-40: color-mix(in srgb, var(--color-body-10) 100%, black 15%);
    --color-body-50: color-mix(in srgb, var(--color-body-10) 100%, black 20%);
    --color-body-60: color-mix(in srgb, var(--color-body-10) 100%, black 25%);
    --color-body-70: color-mix(in srgb, var(--color-body-10) 100%, black 30%);
    --color-body-80: color-mix(in srgb, var(--color-body-10) 100%, black 35%);
    --color-body-90: color-mix(in srgb, var(--color-body-10) 100%, black 40%);

    --color-body-contrast-10: color-mix(in srgb, var(--color-body-10) 40%, black 60%);
    --color-body-contrast-20: color-mix(in srgb, var(--color-body-10) 35%, black 65%);
    --color-body-contrast-30: color-mix(in srgb, var(--color-body-10) 30%, black 70%);
    --color-body-contrast-40: color-mix(in srgb, var(--color-body-10) 25%, black 75%);
    --color-body-contrast-50: color-mix(in srgb, var(--color-body-10) 20%, black 80%);
    --color-body-contrast-60: color-mix(in srgb, var(--color-body-10) 15%, black 85%);
    --color-body-contrast-70: color-mix(in srgb, var(--color-body-10) 10%, black 90%);
    --color-body-contrast-80: color-mix(in srgb, var(--color-body-10) 5%, black 95%);
    --color-body-contrast-90: color-mix(in srgb, var(--color-body-10) 0%, black 100%);

    --color-neutral-10: color-mix(in srgb, var(--color-neutral-50) 100%, white 20%);
    --color-neutral-20: color-mix(in srgb, var(--color-neutral-50) 100%, white 15%);
    --color-neutral-30: color-mix(in srgb, var(--color-neutral-50) 100%, white 10%);
    --color-neutral-40: color-mix(in srgb, var(--color-neutral-50) 100%, white 5%);
    --color-neutral-50: #eeeeee;
    --color-neutral-60: color-mix(in srgb, var(--color-neutral-50) 100%, black 5%);
    --color-neutral-70: color-mix(in srgb, var(--color-neutral-50) 100%, black 10%);
    --color-neutral-80: color-mix(in srgb, var(--color-neutral-50) 100%, black 15%);
    --color-neutral-90: color-mix(in srgb, var(--color-neutral-50) 100%, black 20%);

    --color-neutral-contrast-10: color-mix(in srgb, var(--color-neutral-50) 50%, black 50%);
    --color-neutral-contrast-20: color-mix(in srgb, var(--color-neutral-50) 45%, black 55%);
    --color-neutral-contrast-30: color-mix(in srgb, var(--color-neutral-50) 40%, black 60%);
    --color-neutral-contrast-40: color-mix(in srgb, var(--color-neutral-50) 35%, black 65%);
    --color-neutral-contrast-50: color-mix(in srgb, var(--color-neutral-50) 30%, black 70%);
    --color-neutral-contrast-60: color-mix(in srgb, var(--color-neutral-50) 25%, black 75%);
    --color-neutral-contrast-70: color-mix(in srgb, var(--color-neutral-50) 20%, black 80%);
    --color-neutral-contrast-80: color-mix(in srgb, var(--color-neutral-50) 15%, black 85%);
    --color-neutral-contrast-90: color-mix(in srgb, var(--color-neutral-50) 10%, black 90%);

    --color-primary-10: color-mix(in srgb, var(--color-primary-50) 100%, white 80%);
    --color-primary-20: color-mix(in srgb, var(--color-primary-50) 100%, white 60%);
    --color-primary-30: color-mix(in srgb, var(--color-primary-50) 100%, white 40%);
    --color-primary-40: color-mix(in srgb, var(--color-primary-50) 100%, white 20%);
    --color-primary-50: #4e66b6;
    --color-primary-60: color-mix(in srgb, var(--color-primary-50) 100%, black 10%);
    --color-primary-70: color-mix(in srgb, var(--color-primary-50) 100%, black 20%);
    --color-primary-80: color-mix(in srgb, var(--color-primary-50) 100%, black 30%);
    --color-primary-90: color-mix(in srgb, var(--color-primary-50) 100%, black 40%);

    --color-primary-contrast-10: color-mix(in srgb, var(--color-primary-50) 80%, black 20%);
    --color-primary-contrast-20: color-mix(in srgb, var(--color-primary-50) 70%, black 30%);
    --color-primary-contrast-30: color-mix(in srgb, var(--color-primary-50) 60%, black 40%);
    --color-primary-contrast-40: color-mix(in srgb, var(--color-primary-50) 50%, black 50%);
    --color-primary-contrast-50: color-mix(in srgb, var(--color-primary-50) 10%, white 90%);
    --color-primary-contrast-60: color-mix(in srgb, var(--color-primary-50) 20%, white 80%);
    --color-primary-contrast-70: color-mix(in srgb, var(--color-primary-50) 30%, white 70%);
    --color-primary-contrast-80: color-mix(in srgb, var(--color-primary-50) 40%, white 60%);
    --color-primary-contrast-90: color-mix(in srgb, var(--color-primary-50) 50%, white 50%);

    --color-secondary-10: color-mix(in srgb, var(--color-secondary-50) 100%, white 80%);
    --color-secondary-20: color-mix(in srgb, var(--color-secondary-50) 100%, white 60%);
    --color-secondary-30: color-mix(in srgb, var(--color-secondary-50) 100%, white 40%);
    --color-secondary-40: color-mix(in srgb, var(--color-secondary-50) 100%, white 20%);
    --color-secondary-50: #72ced7;
    --color-secondary-60: color-mix(in srgb, var(--color-secondary-50) 100%, black 10%);
    --color-secondary-70: color-mix(in srgb, var(--color-secondary-50) 100%, black 20%);
    --color-secondary-80: color-mix(in srgb, var(--color-secondary-50) 100%, black 30%);
    --color-secondary-90: color-mix(in srgb, var(--color-secondary-50) 100%, black 40%);

    --color-secondary-contrast-10: color-mix(in srgb, var(--color-secondary-50) 80%, black 20%);
    --color-secondary-contrast-20: color-mix(in srgb, var(--color-secondary-50) 70%, black 30%);
    --color-secondary-contrast-30: color-mix(in srgb, var(--color-secondary-50) 60%, black 40%);
    --color-secondary-contrast-40: color-mix(in srgb, var(--color-secondary-50) 50%, black 50%);
    --color-secondary-contrast-50: color-mix(in srgb, var(--color-secondary-50) 40%, black 60%);
    --color-secondary-contrast-60: color-mix(in srgb, var(--color-secondary-50) 20%, white 80%);
    --color-secondary-contrast-70: color-mix(in srgb, var(--color-secondary-50) 30%, white 70%);
    --color-secondary-contrast-80: color-mix(in srgb, var(--color-secondary-50) 40%, white 60%);
    --color-secondary-contrast-90: color-mix(in srgb, var(--color-secondary-50) 50%, white 50%);

    --color-danger-10: color-mix(in srgb, var(--color-danger-50) 100%, white 80%);
    --color-danger-20: color-mix(in srgb, var(--color-danger-50) 100%, white 60%);
    --color-danger-30: color-mix(in srgb, var(--color-danger-50) 100%, white 40%);
    --color-danger-40: color-mix(in srgb, var(--color-danger-50) 100%, white 20%);
    --color-danger-50: #df4759;
    --color-danger-60: color-mix(in srgb, var(--color-danger-50) 100%, black 10%);
    --color-danger-70: color-mix(in srgb, var(--color-danger-50) 100%, black 20%);
    --color-danger-80: color-mix(in srgb, var(--color-danger-50) 100%, black 30%);
    --color-danger-90: color-mix(in srgb, var(--color-danger-50) 100%, black 40%);

    --color-danger-contrast-10: color-mix(in srgb, var(--color-danger-50) 80%, black 20%);
    --color-danger-contrast-20: color-mix(in srgb, var(--color-danger-50) 70%, black 30%);
    --color-danger-contrast-30: color-mix(in srgb, var(--color-danger-50) 60%, black 40%);
    --color-danger-contrast-40: color-mix(in srgb, var(--color-danger-50) 50%, black 50%);
    --color-danger-contrast-50: color-mix(in srgb, var(--color-danger-50) 10%, white 90%);
    --color-danger-contrast-60: color-mix(in srgb, var(--color-danger-50) 20%, white 80%);
    --color-danger-contrast-70: color-mix(in srgb, var(--color-danger-50) 30%, white 70%);
    --color-danger-contrast-80: color-mix(in srgb, var(--color-danger-50) 40%, white 60%);
    --color-danger-contrast-90: color-mix(in srgb, var(--color-danger-50) 50%, white 50%);

    --color-info-10: color-mix(in srgb, var(--color-info-50) 100%, white 80%);
    --color-info-20: color-mix(in srgb, var(--color-info-50) 100%, white 60%);
    --color-info-30: color-mix(in srgb, var(--color-info-50) 100%, white 40%);
    --color-info-40: color-mix(in srgb, var(--color-info-50) 100%, white 20%);
    --color-info-50: #7c69ef;
    --color-info-60: color-mix(in srgb, var(--color-info-50) 100%, black 10%);
    --color-info-70: color-mix(in srgb, var(--color-info-50) 100%, black 20%);
    --color-info-80: color-mix(in srgb, var(--color-info-50) 100%, black 30%);
    --color-info-90: color-mix(in srgb, var(--color-info-50) 100%, black 40%);

    --color-info-contrast-10: color-mix(in srgb, var(--color-info-50) 80%, black 20%);
    --color-info-contrast-20: color-mix(in srgb, var(--color-info-50) 70%, black 30%);
    --color-info-contrast-30: color-mix(in srgb, var(--color-info-50) 60%, black 40%);
    --color-info-contrast-40: color-mix(in srgb, var(--color-info-50) 50%, black 50%);
    --color-info-contrast-50: color-mix(in srgb, var(--color-info-50) 10%, white 90%);
    --color-info-contrast-60: color-mix(in srgb, var(--color-info-50) 20%, white 80%);
    --color-info-contrast-70: color-mix(in srgb, var(--color-info-50) 30%, white 70%);
    --color-info-contrast-80: color-mix(in srgb, var(--color-info-50) 40%, white 60%);
    --color-info-contrast-90: color-mix(in srgb, var(--color-info-50) 50%, white 50%);

    --color-success-10: color-mix(in srgb, var(--color-success-50) 100%, white 80%);
    --color-success-20: color-mix(in srgb, var(--color-success-50) 100%, white 60%);
    --color-success-30: color-mix(in srgb, var(--color-success-50) 100%, white 40%);
    --color-success-40: color-mix(in srgb, var(--color-success-50) 100%, white 20%);
    --color-success-50: #42ba96;
    --color-success-60: color-mix(in srgb, var(--color-success-50) 100%, black 10%);
    --color-success-70: color-mix(in srgb, var(--color-success-50) 100%, black 20%);
    --color-success-80: color-mix(in srgb, var(--color-success-50) 100%, black 30%);
    --color-success-90: color-mix(in srgb, var(--color-success-50) 100%, black 40%);

    --color-success-contrast-10: color-mix(in srgb, var(--color-success-50) 80%, black 20%);
    --color-success-contrast-20: color-mix(in srgb, var(--color-success-50) 70%, black 30%);
    --color-success-contrast-30: color-mix(in srgb, var(--color-success-50) 60%, black 40%);
    --color-success-contrast-40: color-mix(in srgb, var(--color-success-50) 50%, black 50%);
    --color-success-contrast-50: color-mix(in srgb, var(--color-success-50) 10%, white 90%);
    --color-success-contrast-60: color-mix(in srgb, var(--color-success-50) 20%, white 80%);
    --color-success-contrast-70: color-mix(in srgb, var(--color-success-50) 30%, white 70%);
    --color-success-contrast-80: color-mix(in srgb, var(--color-success-50) 40%, white 60%);
    --color-success-contrast-90: color-mix(in srgb, var(--color-success-50) 50%, white 50%);

    --color-warning-10: color-mix(in srgb, var(--color-warning-50) 100%, white 80%);
    --color-warning-20: color-mix(in srgb, var(--color-warning-50) 100%, white 60%);
    --color-warning-30: color-mix(in srgb, var(--color-warning-50) 100%, white 40%);
    --color-warning-40: color-mix(in srgb, var(--color-warning-50) 100%, white 20%);
    --color-warning-50: #fad776;
    --color-warning-60: color-mix(in srgb, var(--color-warning-50) 100%, black 10%);
    --color-warning-70: color-mix(in srgb, var(--color-warning-50) 100%, black 20%);
    --color-warning-80: color-mix(in srgb, var(--color-warning-50) 100%, black 30%);
    --color-warning-90: color-mix(in srgb, var(--color-warning-50) 100%, black 40%);

    --color-warning-contrast-10: color-mix(in srgb, var(--color-warning-50) 60%, black 40%);
    --color-warning-contrast-20: color-mix(in srgb, var(--color-warning-50) 55%, black 45%);
    --color-warning-contrast-30: color-mix(in srgb, var(--color-warning-50) 50%, black 50%);
    --color-warning-contrast-40: color-mix(in srgb, var(--color-warning-50) 45%, black 55%);
    --color-warning-contrast-50: color-mix(in srgb, var(--color-warning-50) 40%, black 60%);
    --color-warning-contrast-60: color-mix(in srgb, var(--color-warning-50) 35%, black 65%);
    --color-warning-contrast-70: color-mix(in srgb, var(--color-warning-50) 30%, black 70%);
    --color-warning-contrast-80: color-mix(in srgb, var(--color-warning-50) 25%, black 75%);
    --color-warning-contrast-90: color-mix(in srgb, var(--color-warning-50) 20%, black 80%);
}

body[data-theme="dark"] {

}