body { // default: desktop-large
    --layout-brd-width-sm: 1px;
    --layout-brd-radius-md: 0.25rem;
    --layout-brd-radius-lg: 0.5rem;

    --layout-gap-vertical-sm: 0.25rem;
    --layout-gap-vertical-md: 0.5rem;
    --layout-gap-vertical-lg: 1rem;

    --layout-gap-horizontal-sm: 0.5rem;
    --layout-gap-horizontal-md: 1rem;
    --layout-gap-horizontal-lg: 1.5rem;

    --layout-nontable-row-height-sm: 1.75rem;
    --layout-nontable-row-height-md: 3.5rem;
    --layout-nontable-row-height-lg: 5rem;

    --layout-nontable-padding-sm: 0.5rem;
    --layout-nontable-padding-md: 1rem;
    --layout-nontable-padding-lg: 1.5rem;

    --layout-table-row-height-sm: 1.5rem;
    --layout-table-row-height-md: 3rem;
    --layout-table-row-height-lg: 4.5rem;
}

body[data-screen="desktop-medium"] {

}

body[data-screen="desktop-small"] {

}

body[data-screen="mobile"] {

}