body {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
                   Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-family-serif: Georgia, "Times New Roman", "Droid Serif", "Noto Serif", "Liberation Serif",
                         "DejaVu Serif", serif;

    --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-h5: 1rem;
    --font-size-h6: 0.75rem;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-xl: 1.125rem;
    --font-size-xxl: 1.25rem;
}