@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500&display=swap');

body {
    --font-family-sans-serif: 'Hanken Grotesk', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
                   Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-family-serif: Georgia, "Times New Roman", "Droid Serif", "Noto Serif", "Liberation Serif",
                         "DejaVu Serif", serif;

    --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-weight-default: var(--font-weight-light);
    --font-weight-default-strong: var(--font-weight-medium);

    --font-size-h1: 2.3125rem;
    --font-size-h2: 1.9375rem;
    --font-size-h3: 1.3125rem;
    --font-size-h4: 1.1875rem;
    --font-size-h5: 1.0635rem;
    --font-size-h6: 0.75rem;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
}