.form-button-component {
    // PROPERTY INDEPENDENT
    // ----------------------------------------------------
    --component-font-family: var(--font-family-sans-serif);
    --component-border-style: solid;
    --component-border-disabled-opacity: 0.5;

    // SIZES
    // ----------------------------------------------------
    // small size
    --component-sm-border-radius: var(--layout-brd-radius-md);
    --component-sm-border-width: 1px;
    --component-sm-height: var(--layout-nontable-row-height-sm);
    --component-sm-font-size: var(--font-size-xs);
    --component-sm-font-weight: var(--font-weight-medium);
    --component-sm-margin-bottom: var(--layout-gap-vertical-sm);
    --component-sm-padding: 0 var(--layout-nontable-padding-sm);

    // medium size: default
    --component-md-border-radius: var(--layout-brd-radius-md);
    --component-md-border-width: 0.125rem;
    --component-md-height: var(--layout-nontable-row-height-md);
    --component-md-font-size: var(--font-size-md);
    --component-md-font-weight: var(--font-weight-medium);
    --component-md-margin-bottom: var(--layout-gap-vertical-md);
    --component-md-padding: 0 var(--layout-nontable-padding-md);

    // large size
    --component-lg-border-radius: var(--layout-brd-radius-md);
    --component-lg-border-width: 0.25rem;
    --component-lg-height: var(--layout-nontable-row-height-lg);
    --component-lg-font-size: var(--font-size-xl);
    --component-lg-font-weight: var(--font-weight-medium);
    --component-lg-margin-bottom: var(--layout-gap-vertical-lg);
    --component-lg-padding: 0 var(--layout-nontable-padding-lg);

    // COLORS
    // ----------------------------------------------------
    // unknown color
    --component-unknown-background-color: var(--color-body-10);
    --component-unknown-border-color: var(--color-body-contrast-40);
    --component-unknown-color: var(--color-body-contrast-40);
    --component-unknown-hover-background-color: var(--color-body-contrast-40);
    --component-unknown-hover-border-color: var(--color-body-contrast-40);
    --component-unknown-hover-color: var(--color-body-10);

    // neutral color
    --component-neutral-background-color: var(--color-neutral-50);
    --component-neutral-border-color: var(--color-neutral-50);
    --component-neutral-color: var(--color-neutral-contrast-50);
    --component-neutral-hover-background-color: var(--color-neutral-70);
    --component-neutral-hover-border-color: var(--color-neutral-70);
    --component-neutral-hover-color: var(--color-neutral-contrast-60);

    // primary color
    --component-primary-background-color: var(--color-primary-50);
    --component-primary-border-color: var(--color-primary-50);
    --component-primary-color: var(--color-primary-contrast-50);
    --component-primary-hover-background-color: var(--color-primary-70);
    --component-primary-hover-border-color: var(--color-primary-70);
    --component-primary-hover-color: var(--color-primary-contrast-60);

    // secondary color
    --component-secondary-background-color: var(--color-secondary-50);
    --component-secondary-border-color: var(--color-secondary-50);
    --component-secondary-color: var(--color-secondary-contrast-50);
    --component-secondary-hover-background-color: var(--color-secondary-70);
    --component-secondary-hover-border-color: var(--color-secondary-70);
    --component-secondary-hover-color: var(--color-secondary-contrast-60);

    // danger color
    --component-danger-background-color: var(--color-danger-50);
    --component-danger-border-color: var(--color-danger-50);
    --component-danger-color: var(--color-danger-contrast-50);
    --component-danger-hover-background-color: var(--color-danger-70);
    --component-danger-hover-border-color: var(--color-danger-70);
    --component-danger-hover-color: var(--color-danger-contrast-60);

    // info color
    --component-info-background-color: var(--color-info-50);
    --component-info-border-color: var(--color-info-50);
    --component-info-color: var(--color-info-contrast-50);
    --component-info-hover-background-color: var(--color-info-70);
    --component-info-hover-border-color: var(--color-info-70);
    --component-info-hover-color: var(--color-info-contrast-60);

    // success color
    --component-success-background-color: var(--color-success-50);
    --component-success-border-color: var(--color-success-50);
    --component-success-color: var(--color-success-contrast-50);
    --component-success-hover-background-color: var(--color-success-70);
    --component-success-hover-border-color: var(--color-success-70);
    --component-success-hover-color: var(--color-success-contrast-60);

    // warning color
    --component-warning-background-color: var(--color-warning-50);
    --component-warning-border-color: var(--color-warning-50);
    --component-warning-color: var(--color-warning-contrast-70);
    --component-warning-hover-background-color: var(--color-warning-40);
    --component-warning-hover-border-color: var(--color-warning-40);
    --component-warning-hover-color: var(--color-warning-contrast-60);
}